$padding: 0 200px;
$darkColor: #3b434d;
$lightColor: white;
$purpleColor: rgb(179, 100, 211);
$yellowColor: #fdf378;
$orangeColor: #fc8102;
$regular: 400;
$semibold: 600;
$bold: 700;

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("MyriadPro-Regular.eot");
    src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"),
        url("MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: $regular;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 0.8fr 1fr 0.75fr 100px;
    grid-template-areas:
        "header"
        "puzzles"
        "featuresGame"
        "essenceGame"
        "footer";
    .header {
        grid-area: header;
        background-color: $lightColor;
        padding: $padding;
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-logo . header-nav";
        .header__logo_width {
            grid-area: header-logo;
            width: 200px;
        }
        .header__nav {
            grid-area: header-nav;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: 1fr;
            align-self: center;
            justify-self: stretch;
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            font-weight: $regular;
            text-transform: uppercase;
            margin-right: 30px;
            .nav__link {
                color: $darkColor;
                // margin-right: 30px;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
            }
            .nav__link:hover {
                color: $lightColor;
                border-radius: 30px;
                background-color: $purpleColor;
                transition: color 0.1s linear, background-color 0.2s linear;
            }
        }
    }
    .puzzles {
        grid-area: puzzles;
        background: linear-gradient(to right, rgb(163, 65, 255), #9198e5);
        padding: $padding;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 130px 1fr;
        grid-template-areas:
            "breadcrumb"
            "puzzles-banner"
            "puzzles-main";
        .breadcrumb {
            list-style: none;
            display: flex;
            padding-left: 0px;
            background-color: transparent;
            a,
            .active {
                color: $darkColor;
                display: block;
                background: $yellowColor;
                text-decoration: none;
                position: relative;
                height: 34px;
                line-height: 34px;
                padding: 0 10px 0 5px;
                text-align: center;
                margin-right: 23px;
                user-select: none;
            }
            .breadcrumb-item:first-child > a {
                padding-left: 15px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .breadcrumb-item:last-child > a,
            .breadcrumb-item.active {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                margin-right: 0;
                padding-right: 15px;
            }
            .breadcrumb-item:first-child > a::before,
            .breadcrumb-item:last-child > a::after {
                border: none;
            }
            .breadcrumb-item > a::before,
            .breadcrumb-item > a::after,
            .breadcrumb-item.active::before {
                content: "";
                position: absolute;
                top: 0;
                border: 0 solid $yellowColor;
                border-width: 17px 10px;
                width: 0;
                height: 0;
            }
            .breadcrumb-item > a::before,
            .breadcrumb-item.active::before {
                left: -20px;
                border-left-color: transparent;
            }
            .breadcrumb-item > a::after {
                left: 100%;
                border-color: transparent;
                border-left-color: $yellowColor;
            }
            .breadcrumb-item > a:hover {
                background-color: $orangeColor;
            }
            .breadcrumb-item > a:hover::before {
                border-color: $orangeColor;
                border-left-color: transparent;
            }
            .breadcrumb-item > a:hover::after {
                border-left-color: $orangeColor;
            }
            .breadcrumb-item.active {
                color: $orangeColor;
                background-color: $lightColor;
            }
            .breadcrumb-item.active::before {
                border-color: $lightColor;
                border-left-color: transparent;
            }
            .breadcrumb-item + .breadcrumb-item::before {
                display: inline-block;
                padding-right: 1px;
                color: #6c757d;
                content: "";
            }
        }
        .puzzles__banner {
            grid-area: puzzles-banner;
            color: $lightColor;
            font-size: 48px;
            font-weight: $semibold;
            // line-height: 24px;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
        .puzzles__main {
            grid-area: puzzles-main;
            color: $lightColor;
            font-size: 18px;
            font-weight: $regular;
            line-height: 24px;
            display: grid;
            grid-template-rows: 1fr;
            justify-self: center;
            align-self: center;
            text-align: justify;
        }
    }
    .featuresGame {
        grid-area: featuresGame;
        padding: $padding;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 130px 590px;
        grid-template-areas:
            "featuresGame-banner"
            "featuresGame-main";
        .featuresGame__banner {
            grid-area: featuresGame-banner;
            color: $darkColor;
            font-size: 48px;
            font-weight: $semibold;
            // line-height: 24px;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
        .featuresGame__main {
            grid-area: featuresGame-main;
            color: $darkColor;
            font-size: 18px;
            font-weight: $regular;
            line-height: 24px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            grid-template-areas:
                "main-one main-two"
                "main-three main-four";
            .main__one {
                grid-area: main-one;
            }
            .main__two {
                grid-area: main-two;
            }
            .main__three {
                grid-area: main-three;
            }
            .main__four {
                grid-area: main-four;
            }
            .main__one,
            .main__two,
            .main__three,
            .main__four {
                text-align: center;
                grid-template-rows: 1fr 1fr 1fr;
                [class^="icon-"],
                [class*=" icon-"] {
                    height: 32px;
                    width: 32px;
                    font-size: 38px;
                    display: inline-block;
                    fill: currentColor;
                    color: #fc8102;
                }
                h3 {
                    font-weight: $semibold;
                }
            }
        }
    }
    .essenceGame {
        grid-area: essenceGame;
        padding: $padding;
        background: linear-gradient(to left, rgb(163, 65, 255), #9198e5);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 130px 350px;
        grid-template-areas:
            "essenceGame-banner"
            "essenceGame-main";
        .essenceGame__banner {
            grid-area: essenceGame-banner;
            color: $lightColor;
            font-size: 48px;
            font-weight: $semibold;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
        .essenceGame__main {
            grid-area: essenceGame-main;
            color: $lightColor;
            font-size: 18px;
            font-weight: $regular;
            line-height: 24px;
            text-align: justify;
        }
    }
    .footer {
        grid-area: footer;
        padding: $padding;
        justify-self: center;
        align-self: center;
        color: $darkColor;
        font-weight: $semibold;
        .footer__anchor {
            text-align: center;
            a {
                color: $purpleColor;
            }
            a:hover {
                color: $orangeColor;
            }
        }
    }
    .scrollup {
        position: fixed;
        color: $purpleColor;
        background-color: $yellowColor;
        right: 20px;
        bottom: 0px;
        padding: 4px 10px;
        font-size: 60px;
        border: 1px solid $purpleColor;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        cursor: pointer;
        display: none;
        text-align: center;
    }
    .scrollup:hover {
        color: $yellowColor;
        background-color: $purpleColor;
        border: 1px solid $yellowColor;
        transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
    }
}
@media only screen and (max-width: 576px) {
    body {
        max-width: 540px;
        margin: 0 auto;
        grid-template-rows: 200px 0.7fr 0.7fr 0.7fr 100px;
        .header {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "header-logo header-logo header-logo"
                "header-nav header-nav header-nav";
            .header__logo {
                justify-self: center;
                align-self: center;
                text-align: center;
            }
            .header__nav {
                margin-right: 0;
                grid-template-columns: auto auto auto;
                grid-template-rows: 1fr 1fr;
            }
        }
        .puzzles {
            padding: 0 30px;
            grid-template-rows: 50px 130px 1fr;
            .puzzles__banner {
                font-size: 42px;
            }
            .puzzles__main {
                font-size: 18px;
            }
        }
        .featuresGame {
            padding: 0 30px;
            grid-template-rows: 130px 1fr;
            .featuresGame__banner {
                font-size: 42px;
            }
            .featuresGame__main {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 0.5fr 0.6fr 1fr;
                grid-gap: 0;
                grid-template-areas:
                    "main-one"
                    "main-two"
                    "main-three"
                    "main-four";
            }
        }
        .essenceGame {
            padding: 0 30px;
            grid-template-rows: 130px 1fr;
            .essenceGame__banner {
                font-size: 42px;
            }
        }
        .footer {
            padding: 0;
        }
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    body {
        max-width: 720px;
        margin: 0 auto;
        grid-template-rows: 200px 0.7fr 0.7fr 0.7fr 100px;
        .header {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "header-logo header-logo header-logo"
                "header-nav header-nav header-nav";
            .header__logo {
                justify-self: center;
                align-self: center;
                text-align: center;
            }
            .header__nav {
                margin-right: 0;
                grid-template-columns: auto auto auto;
                grid-template-rows: 1fr 1fr;
            }
        }
        .puzzles {
            padding: 0 30px;
            grid-template-rows: 50px 130px 1fr;
            .puzzles__banner {
                font-size: 42px;
            }
            .puzzles__main {
                font-size: 18px;
            }
        }
        .featuresGame {
            padding: 0 30px;
            grid-template-rows: 130px 1fr;
            .featuresGame__banner {
                font-size: 42px;
            }
        }
        .essenceGame {
            padding: 0 30px;
            grid-template-rows: 130px 1fr;
            .essenceGame__banner {
                font-size: 42px;
            }
        }
        .footer {
            padding: 0;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    body {
        max-width: 960px;
        margin: 0 auto;
        grid-template-rows: 100px 0.7fr 0.7fr 0.7fr 100px;
        .header {
            padding: 0;
            grid-template-columns: 0.3fr 0.3fr 1fr;
            grid-template-areas: "header-logo header-nav header-nav";
            .header__nav {
                margin-right: 0;
            }
        }
        .puzzles {
            padding: 0 30px;
            grid-template-rows: 50px 130px 1fr;
            .puzzles__banner {
                font-size: 42px;
            }
            .puzzles__main {
                font-size: 18px;
            }
        }
        .featuresGame {
            padding: 0 30px;
            grid-template-rows: 130px 1fr;
            .featuresGame__banner {
                font-size: 42px;
            }
        }
        .essenceGame {
            padding: 0 30px;
            grid-template-rows: 130px 1fr;
        }
        .footer {
            padding: 0;
        }
    }
}
