$padding: 0 200px;
$darkColor: #3b434d;
$lightColor: white;
$purpleColor: rgb(179, 100, 211);
$yellowColor: #fdf378;
$regular: 400;
$semibold: 600;
$bold: 700;

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("MyriadPro-Regular.eot");
    src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"),
        url("MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: $regular;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 860px 100px;
    grid-template-areas:
        "header"
        "copyright"
        "footer";
    .header {
        grid-area: header;
        background-color: $lightColor;
        padding: $padding;
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-logo . header-nav";
        .header__logo_width {
            grid-area: header-logo;
            width: 200px;
        }
        .header__nav {
            grid-area: header-nav;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: 1fr;
            align-self: center;
            justify-self: stretch;
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            font-weight: $regular;
            text-transform: uppercase;
            margin-right: 30px;
            .nav__link {
                color: $darkColor;
                // margin-right: 30px;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
            }
            .nav__link:hover {
                color: $lightColor;
                border-radius: 30px;
                background-color: $purpleColor;
                transition: color 0.1s linear, background-color 0.2s linear;
            }
        }
    }
    .copyright {
        grid-area: copyright;
        background: linear-gradient(to right, rgb(163, 65, 255), #9198e5);
        padding: $padding;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 130px 680px;
        grid-template-areas:
            "breadcrumb"
            "copyright-banner"
            "copyright-main";
        .breadcrumb {
            list-style: none;
            display: flex;
            padding-left: 0px;
            background-color: transparent;
            a,
            .active {
                color: $darkColor;
                display: block;
                background: $yellowColor;
                text-decoration: none;
                position: relative;
                height: 34px;
                line-height: 34px;
                padding: 0 10px 0 5px;
                text-align: center;
                margin-right: 23px;
                user-select: none;
            }
            .breadcrumb-item:first-child > a {
                padding-left: 15px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .breadcrumb-item:last-child > a,
            .breadcrumb-item.active {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                margin-right: 0;
                padding-right: 15px;
            }
            .breadcrumb-item:first-child > a::before,
            .breadcrumb-item:last-child > a::after {
                border: none;
            }
            .breadcrumb-item > a::before,
            .breadcrumb-item > a::after,
            .breadcrumb-item.active::before {
                content: "";
                position: absolute;
                top: 0;
                border: 0 solid $yellowColor;
                border-width: 17px 10px;
                width: 0;
                height: 0;
            }
            .breadcrumb-item > a::before,
            .breadcrumb-item.active::before {
                left: -20px;
                border-left-color: transparent;
            }
            .breadcrumb-item > a::after {
                left: 100%;
                border-color: transparent;
                border-left-color: $yellowColor;
            }
            .breadcrumb-item > a:hover {
                background-color: #fc8102;
            }
            .breadcrumb-item > a:hover::before {
                border-color: #fc8102;
                border-left-color: transparent;
            }
            .breadcrumb-item > a:hover::after {
                border-left-color: #fc8102;
            }
            .breadcrumb-item.active {
                color: #fc8102;
                background-color: $lightColor;
            }
            .breadcrumb-item.active::before {
                border-color: $lightColor;
                border-left-color: transparent;
            }
            .breadcrumb-item+.breadcrumb-item::before {
                display: inline-block;
                padding-right: 1px;
                color: #6c757d;
                content: "";
            }
        }
        .copyright__banner {
            grid-area: copyright-banner;
            color: $lightColor;
            font-size: 48px;
            font-weight: $semibold;
            // line-height: 24px;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
        .copyright__main {
            grid-area: copyright-main;
            color: $lightColor;
            font-size: 18px;
            font-weight: $regular;
            line-height: 24px;
            display: grid;
            grid-template-rows: 256px 256px 168px;
            justify-self: center;
            align-self: center;
            text-align: justify;
            grid-template-areas:
                "copyright-main-one"
                "copyright-main-two"
                "copyright-main-three";
            .copyright__main_one {
                grid-area: copyright-main-one;
            }
            .copyright__main_two {
                grid-area: copyright-main-two;
            }
            .copyright__main_three {
                grid-area: copyright-main-three;
            }
            .copyright__main_one,
            .copyright__main_two,
            .copyright__main_three {
                h4 {
                    color: $darkColor;
                }
                p {
                    padding-left: 20px;
                }
            }
        }
    }
    .footer {
        grid-area: footer;
        padding: $padding;
        justify-self: center;
        align-self: center;
        color: $darkColor;
        font-weight: $semibold;
        .footer__anchor {
            text-align: center;
            a {
                color: $purpleColor;
            }
            a:hover {
                color: red;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    body {
        max-width: 540px;
        margin: 0 auto;
        grid-template-rows: 200px 1fr 100px;
        .header {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                " header-logo header-logo header-logo"
                "header-nav header-nav header-nav";
            .header__logo {
                justify-self: center;
                align-self: center;
            }
            .header__nav {
                margin-right: 0;
            }
        }
        .copyright {
            padding: 0 30px;
            grid-template-rows: 50px 130px 1fr;
            .copyright__banner {
                font-size: 42px;
            }
            .copyright__main {
                font-size: 18px;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
        .footer {
            padding: 0;
        }
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    body {
        max-width: 720px;
        margin: 0 auto;
        grid-template-rows: 200px 1050px 100px;
        .header {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                " header-logo header-logo header-logo"
                "header-nav header-nav header-nav";
            .header__logo {
                justify-self: center;
                align-self: center;
            }
            .header__nav {
                margin-right: 0;
            }
        }
        .copyright {
            padding: 0 30px;
            grid-template-rows: 50px 130px 1fr;
            .copyright__banner {
                font-size: 42px;
            }
            .copyright__main {
                font-size: 18px;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }
        .footer {
            padding: 0;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    body {
        max-width: 960px;
        margin: 0 auto;
        .header {
            padding: 0;
            grid-template-columns: 0.3fr 0.3fr 1fr;
            grid-template-areas: "header-logo . header-nav";
            .header__nav {
                margin-right: 0;
            }
        }
        .copyright {
            padding: 0 30px;
            grid-template-rows: 50px 130px 680px;
            .copyright__main {
                grid-template-rows: 256px 256px 168px;
            }
        }
        .footer {
            padding: 0;
        }
    }
}
