$padding: 0 150px;
$darkColor: #3b434d;
$lightColor: white;
$purpleColor: rgb(179, 100, 211);
$yellowColor: #fdf378;
$orangeColor: #fc8102;
$regular: 400;
$semibold: 600;
$bold: 700;

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("MyriadPro-Regular.eot");
    src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"),
        url("MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: $regular;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr ;
    grid-template-areas:
        "header"
        "development";
    .header {
        grid-area: header;
        background-color: $lightColor;
        padding: $padding;
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-logo . header-nav";
        .header__logo_width {
            grid-area: header-logo;
            width: 200px;
        }
        .nav {
            display: none;
        }
        .header__nav {
            grid-area: header-nav;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: 1fr;
            align-self: center;
            justify-self: stretch;
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            font-weight: $regular;
            text-transform: uppercase;
            margin-right: 30px;
            .nav__link {
                color: $darkColor;
                // margin-right: 30px;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
            }
            .nav__link:hover {
                color: $lightColor;
                border-radius: 30px;
                background-color: $purpleColor;
                transition: color 0.1s linear, background-color 0.2s linear;
            }
        }
    }
    .development {
        grid-area: development;
        text-align: center;
        img {
            position: relative;
            width: 50%;
            text-align: center;
        }
    }
    .footer {
        position: fixed;
        grid-area: footer;
        padding: 0 400px;
        bottom: 0;
        height: 100px;
        text-align: center;
        color: $darkColor;
        font-weight: $semibold;
        .footer__anchor {
            text-align: center;
            a {
                color: $purpleColor;
            }
            a:hover {
                color: $orangeColor;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    body {
        max-width: 540px;
        margin: 0 auto;
        grid-template-rows: 150px 1fr 100px;
        .header {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "header-logo header-logo header-logo"
                "header-nav header-nav header-nav";
            .header__logo {
                justify-self: center;
                align-self: center;
                text-align: center;
            }
            .header__nav {
                display: none;
                // margin-right: 0;
                // grid-template-columns: auto auto auto;
                // grid-template-rows: 1fr 1fr;
            }
            .nav {
                grid-area: header-nav;
                display: block;
                justify-self: center;
                align-self: center;
                .nav-item {
                    a {
                        color: $darkColor;
                    }
                    .nav-link {
                        text-align: center;
                    }
                    .dropdown-menu {
                        color: $darkColor;
                        .dropdown-item {
                            text-align: center;
                        }
                    }
                }
            }
            .nav-pills .show>.nav-link {
                background-color: $orangeColor;
                color: $darkColor;
            }
        }
        .footer {
            padding: 0 30px;
        }
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    body {
        max-width: 720px;
        margin: 0 auto;
        grid-template-rows: 200px 1fr 100px;
        .header {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "header-logo header-logo header-logo"
                "header-nav header-nav header-nav";
            .header__logo {
                justify-self: center;
                align-self: center;
                text-align: center;
            }
            .header__nav {
                margin-right: 0;
            }
        }
        .footer {
            padding: 0 30px;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    body {
        max-width: 960px;
        margin: 0 auto;
        .header {
            padding: 0;
            grid-template-columns: 0.3fr 0.3fr 1fr;
            grid-template-areas: "header-logo header-nav header-nav";
            .header__nav {
                margin-right: 0;
            }
        }
        .footer {
            padding: 0 30px;
        }
    }
}