$darkColor: #3b434d;
$lightColor: white;
$purpleColor: rgb(179, 100, 211);
$yellowColor: #fdf378;
$regular: 400;
$semibold: 600;
$bold: 700;

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("MyriadPro-Regular.eot");
    src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"),
        url("MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: $regular;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 860px 835px 805px 900px 520px 985px 530px 890px 745px 100px;
    grid-template-areas:
        "header"
        "sub-header"
        "features"
        "check"
        "screenhots"
        "comments"
        "support"
        "newsletter"
        "blog"
        "get"
        "footer";
    .header {
        grid-area: header;
        background-color: $lightColor;
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-logo . header-nav";
        .header__logo_width {
            grid-area: header-logo;
            width: 200px;
        }
        .header__nav {
            grid-area: header-nav;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: 1fr;
            align-self: center;
            justify-self: stretch;
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            font-weight: $regular;
            text-transform: uppercase;
            .nav__link {
                color: $darkColor;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
            }
            .nav__link:hover {
                color: $lightColor;
                border-radius: 30px;
                background-color: $purpleColor;
                transition: color 0.1s linear, background-color 0.2s linear;
            }
        }
    }
    .sub__header {
        grid-area: sub-header;
        background: url(../images/index.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 860px;
        grid-gap: 20px;
        grid-template-areas: "sub-phone sub-empires";
        .sub__phone {
            grid-area: sub-phone;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 860px;
            grid-template-areas: "phone-samsung phone-apple";
            width: 100%;
            height: 100vh;
            .phone__apple {
                position: relative;
                bottom: 3px;
                left: 200px;
                background-image: url(../images/apple.png);
                background-size: 320px;
                background-repeat: no-repeat;
                background-position: right;
                z-index: 5;
                animation: apple-display 1.5s linear;
            }
            @keyframes apple-display {
                0% {
                    bottom: 3px;
                    left: -480px;
                }
                100% {
                    bottom: 3px;
                    left: 200px;
                }
            }
            .phone__samsung {
                position: relative;
                background-image: url(../images/samsung.png);
                background-size: 300px;
                background-repeat: no-repeat;
                background-position: center;
                // opacity: 1;
                z-index: 10;
                animation: samsung-display 3.8s ease-in;
            }
            @keyframes samsung-display {
                0% {
                    left: -880px;
                    // opacity: 0;
                }
                100% {
                    left: 0;
                    // opacity: 1;
                }
            }
        }
        .sub__empires {
            grid-area: sub-empires;
            display: grid;
            align-self: center;
            justify-self: stretch;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 50px 100px;
            grid-template-areas:
                "hello"
                "description"
                "download"
                "icons";
            .empires__hello {
                grid-area: hello;
                color: $lightColor;
                font-size: 60px;
                font-weight: $bold;
                text-align: left;
                line-height: 72px;
            }
            .empires__description {
                grid-area: description;
                margin-top: 20px;
                line-height: 30px;
                color: $lightColor;
                text-align: left;
            }
            .empires__download {
                grid-area: download;
                margin-top: 20px;
                font-size: 28px;
                font-weight: $semibold;
                line-height: 28px;
                color: $lightColor;
                text-align: left;
            }
            .empires__icons {
                grid-area: icons;
                display: grid;
                grid-template-columns: 250px 250px;
                grid-template-rows: 90px;
                grid-template-areas:
                    "appStore"
                    "googlePlay";
                .empires__appStore {
                    margin-top: 20px;
                    width: 200px;
                    opacity: 0.75;
                    // background-image: url(../assets/images/store.png);
                    // background-repeat: no-repeat;
                    // background-position: center;
                }
                .empires__googlePlay {
                    margin-top: 20px;
                    width: 200px;
                    opacity: 0.75;
                    transition: opacity 0.2s linear;
                }
                .empires__appStore:hover,
                .empires__googlePlay:hover {
                    opacity: 1;
                    cursor: pointer;
                    transition: transform 0.3s linear;
                    transform: scale(1.2);
                    // animation: store-move 0.5s linear infinite alternate;
                }
                // @keyframes store-move {
                //     0% {
                //         width: 200px;
                //     }
                //     // 50% {
                //     //     width: 225px;
                //     // }
                //     100% {
                //         width: 230px;
                //     }
                // }
            }
        }
    }

    .scrollup {
        position: fixed; /* фиксированная позиция */
        color: #fff; /* цвет текста */
        background-color: #286090; /* цвет заднего фона */
        right: 20px; /* расстояние от правого края */
        bottom: 0px; /* расстояние от нижнего края */
        padding: 4px 10px; /* отступы до содержимого блока */
        font-size: 20px; /* размер шрифта (иконки) */
        border-top-left-radius: 4px; /* скругление верхнего левого угла */
        border-top-right-radius: 4px; /* скругление верхнего правого угла */
        cursor: pointer; /* форма курсора */
        display: none; /* не отображать элемент */
        text-align: center; /*выравнивание содержимого элемента по центру */
    }
    .scrollup:hover {
        background-color: #000; /* цвет заднего фона при наведении */
    }

    .content {
        grid-area: features;
        background: url(../images/bg2.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px 435px;
        // grid-gap: 25px;
        grid-template-areas:
            "content-banner"
            "content-main"
            "content-advantage";
        .content__banner {
            grid-area: content-banner;
            color: $darkColor;
            font-size: 60px;
            font-weight: $semibold;
            // line-height: 22px;
            justify-self: center;
            align-self: end;
        }
        .content__main {
            grid-area: content-main;
            color: $darkColor;
            margin-top: 20px;
            line-height: 30px;
            justify-self: center;
            align-self: start;
            text-align: center;
        }
        .content__advantage {
            grid-area: content-advantage;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 160px 115px 160px;
            grid-template-areas:
                "advantage-community advantage-event advantage-three"
                "advantage-community advantage-event advantage-three"
                "advantage-community advantage-event advantage-three";
            .advantage__community {
                grid-area: advantage-community;
                text-align: center;
                .community__svg {
                    width: 133.6px;
                    transition: background-color 0.5s linear, border-radius 0.5s linear;
                }
                .community__svg:hover {
                    background-color: $yellowColor;
                    border-radius: 25px;
                }
                .community__banner {
                    color: $darkColor;
                    font-size: 30px;
                    font-weight: $semibold;
                    // line-height: 26px;
                }
                .community__content {
                    color: $darkColor;
                    line-height: 30px;
                    margin-top: 20px;
                }
            }
            .advantage__event {
                grid-area: advantage-event;
                text-align: center;
                .event__svg {
                    width: 133.6px;
                    transition: background-color 0.5s linear;
                    transition: border-radius 0.01s linear;
                }
                .event__svg:hover {
                    background-color: $yellowColor;
                    border-radius: 25px;
                }
                .event__banner {
                    color: $darkColor;
                    font-size: 30px;
                    font-weight: $semibold;
                    // line-height: 26px;
                }
                .event__content {
                    line-height: 30px;
                    margin-top: 20px;
                }
            }
            .advantage__three {
                grid-area: advantage-three;
                text-align: center;
                .three__svg {
                    width: 133.6px;
                    transition: background-color 0.5s linear;
                    transition: border-radius 0.01s linear;
                }
                .three__svg:hover {
                    background-color: $yellowColor;
                    border-radius: 25px;
                }
                .three__banner {
                    color: $darkColor;
                    font-size: 30px;
                    font-weight: $semibold;
                    // line-height: 26px;
                }
                .three__content {
                    line-height: 30px;
                    margin-top: 20px;
                }
            }
        }
    }
    .check {
        grid-area: check;
        background: url(../images/bg3.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 201.25px 201.25px 201.25px 201.25px;
        grid-template-areas:
            "check-banner check-banner"
            "check-time check-phone"
            "check-space check-phone"
            "check-settings check-phone";
        .check__banner {
            grid-area: check-banner;
            color: $lightColor;
            font-size: 60px;
            font-weight: $regular;
            line-height: 72px;
            justify-self: center;
            align-self: center;
        }
        .check__time {
            grid-area: check-time;
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            grid-template-rows: 30px 171.25px;
            grid-template-areas:
                "time-icons time-banner"
                "time-icons time-content";
            .time__icons {
                grid-area: time-icons;
                justify-self: end;
                align-self: start;
                margin-right: 10px;
            }
            .time__banner {
                grid-area: time-banner;
                color: $lightColor;
                font-size: 20px;
                font-weight: $semibold;
                line-height: 24px;
                justify-self: start;
                align-self: end;
            }
            .time__content {
                grid-area: time-content;
                color: $lightColor;
                margin: 16px 0;
                line-height: 24px;
                justify-self: start;
                align-self: start;
            }
        }
        .check__space {
            grid-area: check-space;
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            grid-template-rows: 30px 171.25px;
            grid-template-areas:
                "space-icons space-banner"
                "space-icons space-content";
            .space__icons {
                grid-area: space-icons;
                width: 42.4px;
                justify-self: end;
                align-self: start;
                margin-right: 10px;
            }
            .space__banner {
                grid-area: space-banner;
                color: $lightColor;
                font-size: 20px;
                font-weight: $semibold;
                line-height: 24px;
                justify-self: start;
                align-self: end;
            }
            .space__content {
                grid-area: space-content;
                color: $lightColor;
                margin: 16px 0;
                line-height: 24px;
                justify-self: start;
                align-self: start;
            }
        }
        .check__settings {
            grid-area: check-settings;
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            grid-template-rows: 30px 171.25px;
            grid-template-areas:
                "settings-icons settings-banner"
                "settings-icons settings-content";
            .settings__icons {
                grid-area: settings-icons;
                justify-self: end;
                align-self: start;
                margin-right: 10px;
            }
            .settings__banner {
                grid-area: settings-banner;
                color: $lightColor;
                font-size: 20px;
                font-weight: $semibold;
                line-height: 24px;
                justify-self: start;
                align-self: end;
            }
            .settings__content {
                grid-area: settings-content;
                color: $lightColor;
                margin: 16px 0;
                line-height: 24px;
                justify-self: start;
                align-self: start;
            }
        }
        .check__phone {
            grid-area: check-phone;
            background-image: url(../images/hand.png);
            // background-size: 575px;
            background-size: 463px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .screenshots {
        background: url(../images/bg4.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 201.25px 698.75px;
        // grid-gap: 25px;
        grid-template-areas:
            "screenshots-banner"
            "screenshots-slider";
        .screenshots__banner {
            grid-area: screenshots-banner;
            color: $darkColor;
            font-size: 48px;
            font-weight: $regular;
            justify-self: center;
            align-self: end;
        }
        #i1,
        #i2,
        #i3,
        #i4,
        #i5,
        #i6 {
            display: none;
        }
        .screenshots__slider {
            grid-area: screenshots-slider;
            justify-self: center;
            align-self: center;
            margin: 0 auto;
            // margin-top: 20px;
            position: relative;
            width: 50%;
            height: 0;
            padding-bottom: 38%;
            user-select: none;
            background-color: #1c1c1c;
            border: solid 10px $darkColor;
            border-radius: 10px;
            .slider_img {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                text-align: center;
                overflow: hidden;
                img {
                    // width: inherit;
                    height: inherit;
                }
                .prev,
                .next {
                    width: 12%;
                    height: inherit;
                    position: absolute;
                    top: 0;
                    background-color: rgba(88, 88, 88, 0.2);
                    color: rgba(179, 100, 211, 0.9);
                    z-index: 99;
                    transition: 0.45s;
                    cursor: pointer;
                    text-align: center;
                }
                .next {
                    right: 0;
                }
                .prev {
                    left: 0;
                }
                .prev:hover,
                .next:hover {
                    transition: 0.3s;
                    background-color: rgba(243, 243, 120, 0.8);
                    color: $purpleColor;
                }
                .arrow {
                    position: absolute;
                    font-size: 100pt;
                    top: 50%;
                    right: 25%;
                    transform: translateY(-50%);
                }
            }
            #nav_slider {
                width: 100%;
                bottom: 12%;
                height: 11px;
                position: absolute;
                text-align: center;
                z-index: 99;
                cursor: default;
                .dots {
                    top: -5px;
                    width: 18px;
                    height: 18px;
                    margin: 0 4px;
                    position: relative;
                    border-radius: 100%;
                    display: inline-block;
                    background-color: rgba(0, 0, 0, 0.6);
                    transition: 0.4s;
                }
                .dots:hover {
                    cursor: pointer;
                    background-color: rgba(179, 100, 211, 0.9);
                    transition: 0.25s;
                }
            }
            #i1:checked ~ #one,
            #i2:checked ~ #two,
            #i3:checked ~ #three,
            #i4:checked ~ #four,
            #i5:checked ~ #five,
            #i6:checked ~ #six {
                z-index: 9;
                animation: scroll 1s ease-in-out;
            }
            #i1:checked ~ #nav_slider > #dot1,
            #i2:checked ~ #nav_slider > #dot2,
            #i3:checked ~ #nav_slider > #dot3,
            #i4:checked ~ #nav_slider > #dot4,
            #i5:checked ~ #nav_slider > #dot5,
            #i6:checked ~ #nav_slider > #dot6 {
                background-color: rgba(179, 100, 211, 0.9);
            }
            // @keyframes scroll {
            //     0% {
            //         opacity: 0.4;
            //     }
            //     100% {
            //         opacity: 1;
            //     }
            // }

            // @media screen and (max-width: 685px) {
            //     .container {
            //         border: none;
            //         width: 100%;
            //         height: 0;
            //         padding-bottom: 55%;
            //     }
            //     label span {
            //         font-size: 50pt;
            //     }
            //     .prev,
            //     .next {
            //         width: 15%;
            //     }
            //     #nav_slide .dots {
            //         width: 12px;
            //         height: 12px;
            //     }
            // }
            // @media screen and(min-width: 970px) {
            //     .me {
            //         display: none;
            //     }
            // }
        }
    }
    .comments {
        grid-area: comments;
        background: url(../images/bg5.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 520px;
        grid-template-areas: "comments-quote";
        #com1,
        #com2,
        #com3 {
            display: none;
        }
        #nav_comments {
            width: 100%;
            bottom: 12%;
            height: 11px;
            text-align: center;
            z-index: 99;
            cursor: default;
            .buttons {
                top: -100px;
                width: 14px;
                height: 14px;
                margin: 0 4px;
                position: relative;
                border-radius: 100%;
                display: inline-block;
                background-color: transparent;
                border: 1.2px solid $lightColor;
                transition: 0.4s;
            }
            .buttons:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.9);
                transition: 0.25s;
            }
        }
        #com1:checked ~ #quote1,
        #com2:checked ~ #quote2,
        #com3:checked ~ #quote3 {
            z-index: 9;
            animation: scroll 1s ease-in-out;
        }
        #com1:checked ~ #nav_comments > #buttons1,
        #com1:checked ~ #nav_comments > #buttons1,
        #com1:checked ~ #nav_comments > #buttons1 {
            background-color: rgba(255, 255, 255, 0.9);
        }
        .quote__one,
        .quote__two,
        .quote__three {
            z-index: -1;
        }
        .comments__quote {
            grid-area: comments-quote;
            justify-self: start;
            align-self: center;
            .comments__image {
                width: 130px;
                justify-self: end;
                align-self: center;
                float: left;
                margin-right: 70px;
            }
            .comments__user {
                color: $lightColor;
                justify-self: start;
                align-self: center;
                line-height: 30px;
                position: relative;
                padding: 16px 24px;
                margin: 16px 46px;
                text-align: left;
                .user__quote:before,
                .user__quote:after {
                    position: absolute;
                    color: $lightColor;
                    font-size: 60px;
                    font-family: Times, sans-serif;
                    line-height: 100px;
                }
                .user__quote:before {
                    content: "“";
                    left: 180px;
                    top: 0;
                }
                .user__quote:after {
                    content: "”";
                    right: -10px;
                    bottom: 40px;
                }
                .user__author {
                    font-size: 18px;
                    font-weight: $regular;
                    line-height: 46px;
                    text-align: left;
                }
                // .user__author {
                //     color: white;
                //     font-size: 18px;
                //     font-weight: 400;
                //     line-height: 46px;
                //     padding-top: 10px;
                //     display: block;
                // }
            }
        }
    }
    .support {
        grid-area: support;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 100px 685px;
        grid-template-areas:
            "support-banner"
            "support-contact"
            "support-user";
        .support__banner {
            grid-area: support-banner;
            color: $darkColor;
            justify-self: center;
            align-self: end;
            font-size: 60px;
            font-weight: $semibold;
            // line-height: 22px;
        }
        .support__contact {
            grid-area: support-contact;
            color: $darkColor;
            justify-self: center;
            align-self: center;
            font-size: 27px;
            font-weight: $regular;
            line-height: 24px;
        }
        .support__user {
            grid-area: support-user;
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            grid-template-rows: 332.5px 332.5px;
            grid-column-gap: 40px;
            grid-template-areas:
                "user-info-one user-info-two"
                "user-info-three user-info-four";
            .user__info_one {
                grid-area: user-info-one;
            }
            .user__info_two {
                grid-area: user-info-two;
            }
            .user__info_three {
                grid-area: user-info-three;
            }
            .user__info_four {
                grid-area: user-info-four;
            }
            .user__info_one,
            .user__info_two,
            .user__info_three,
            .user__info_four {
                display: grid;
                grid-template-columns: 0.7fr 0.3fr;
                grid-template-rows: 94px 94px 94px;
                grid-gap: 10px;
                justify-content: end;
                color: $darkColor;
                line-height: 24px;
                grid-template-areas:
                    "info-name info-photo"
                    "info-bio info-photo"
                    "info-network info-photo";
                .info__name {
                    grid-area: info-name;
                    border-bottom: 1.3px solid $darkColor;
                    justify-self: end;
                    align-self: end;
                    span {
                        font-size: 18px;
                        font-weight: $semibold;
                    }
                }
                .info__bio {
                    grid-area: info-bio;
                    justify-self: end;
                    align-self: center;
                    text-align: end;
                }
                .info__photo {
                    grid-area: info-photo;
                    justify-self: end;
                    align-self: center;
                }
                .info__network {
                    grid-area: info-network;
                    justify-self: end;
                    align-self: center;
                    width: 20px;
                    height: 20px;
                }
            }
            .user__info_two,
            .user__info_four {
                grid-template-columns: 0.3fr 0.7fr;
                justify-content: start;
                grid-template-areas:
                    "info-photo info-name"
                    "info-photo info-bio"
                    "info-photo info-network";
                .info__name {
                    justify-self: start;
                    align-self: end;
                }
                .info__bio {
                    justify-self: start;
                    align-self: center;
                    text-align: start;
                }
                .info__photo {
                    justify-self: start;
                    align-self: center;
                }
                .info__network {
                    justify-self: start;
                    align-self: center;
                }
            }
        }
    }
    .newsletter {
        grid-area: newsletter;
        background: url(../images/bg6.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 230px 150px;
        grid-template-areas:
            "newsletter-banner"
            "newsletter-main"
            "newsletter-mailing";
        .newsletter__banner {
            grid-area: newsletter-banner;
            color: $lightColor;
            font-size: 60px;
            font-weight: $semibold;
            // line-height: 24px;
            justify-self: center;
            align-self: end;
        }
        .newsletter__main {
            grid-area: newsletter-main;
            color: $lightColor;
            line-height: 30px;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
        .newsletter__mailing {
            grid-area: newsletter-mailing;
            display: grid;
            grid-template-columns: 300px 150px;
            grid-template-rows: 50px;
            grid-gap: 10px;
            justify-self: center;
            align-self: start;
            position: relative;
            border-radius: 3px;
            input {
                margin: 0;
                padding: 15px;
                width: 100%;
                box-sizing: border-box;
                background-color: transparent;
                border: 2px solid $lightColor;
                border-radius: 5px;
            }
            input[type="email"]::placeholder {
                color: $lightColor;
                font-size: 18px;
                font-weight: $regular;
                line-height: 24px;
            }
            input:focus {
                outline: 0;
                border-color: $purpleColor;
                box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
            }
            button {
                height: 48px;
                cursor: pointer;
                border: 1px solid $purpleColor;
                color: $lightColor;
                font-size: 18px;
                font-weight: $semibold;
                line-height: 24px;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
                background-color: $purpleColor;
                transition: background-color 0.2s ease-out;
                border-radius: 5px;
                box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
            }
            button:hover {
                background-color: $lightColor;
                border-color: $lightColor;
                color: $purpleColor;
                text-shadow: none;
            }
            button:active {
                text-shadow: none;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
            }
        }
    }
    .blog {
        grid-area: blog;
        background: url(../images/bg7.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 190px 700px;
        grid-template-areas:
            "blog-banner"
            "blog-main";
        .blog__banner {
            grid-area: blog-banner;
            color: $darkColor;
            font-size: 60px;
            font-weight: $semibold;
            // line-height: 24px;
            justify-self: center;
            align-self: end;
        }
        .blog__main {
            grid-area: blog-main;
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            grid-template-rows: 228px 228px 228px;
            grid-column-gap: 40px;
            grid-template-areas:
                "events1 events4"
                "events2 events5"
                "events3 events6";
            .events1 {
                grid-area: events1;
            }
        }
    }
    .get {
        grid-area: get;
        background: url(../images/bg8.png) center no-repeat;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px 345px 100px;
        grid-template-areas:
            "get-banner"
            "get-content"
            "get-form"
            "get-network";
        .get__banner {
            grid-area: get-banner;
            color: $lightColor;
            font-size: 60px;
            font-weight: $semibold;
            // line-height: 24px;
            justify-self: center;
            align-self: end;
        }
        .get__content {
            grid-area: get-content;
            color: $lightColor;
            line-height: 30px;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
        .get__form {
            grid-area: get-form;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 55px 235px 55px;
            grid-gap: 10px;
            justify-self: center;
            align-self: center;
            position: relative;
            border-radius: 3px;
            grid-template-areas:
                "fName lName eAddress tNumber"
                "comText comText comText comText"
                " . subm subm . ";
            .fName {
                grid-area: fName;
            }
            .lName {
                grid-area: lName;
            }
            .eAddress {
                grid-area: eAddress;
            }
            .tNumber {
                grid-area: tNumber;
            }
            .comText {
                grid-area: comText;
            }
            .subm {
                grid-area: subm;
            }
            input {
                margin: 0;
                padding: 15px;
                width: 100%;
                box-sizing: border-box;
                background-color: $lightColor;
                border: 2px solid $lightColor;
                border-radius: 3px;
            }
            input[type="text"]::placeholder,
            input[type="email"]::placeholder,
            input[type="number"]::placeholder {
                color: $darkColor;
                font-size: 16px;
                font-weight: $regular;
                line-height: 24px;
            }
            input:focus {
                outline: 0;
                border-color: $purpleColor;
                box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }
            button {
                position: relative;
                bottom: 37.5px;
                cursor: pointer;
                border: 1px solid $purpleColor;
                color: $lightColor;
                font-size: 18px;
                font-weight: $bold;
                line-height: 24px;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
                background-color: $purpleColor;
                transition: background-color 0.2s ease-out;
                border-radius: 5px;
                box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
            }
            button:hover {
                background-color: $yellowColor;
                border-color: $purpleColor;
                color: $purpleColor;
                text-shadow: none;
            }
            button:active {
                position: relative;
                text-shadow: none;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
            }
        }
        .get__network {
            grid-area: get-network;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            justify-self: center;
            align-self: stretch;
            grid-column-gap: 40px;
            grid-template-areas: "network-facebook network-twitter network-pinterest network-google network-dribbble";
            .network__facebook {
                grid-area: network-facebook;
            }
            .network__twitter {
                grid-area: network-twitter;
            }
            .network__facebook {
                grid-area: network-facebook;
            }
            .network__facebook {
                grid-area: network-facebook;
            }
            .network__facebook {
                grid-area: network-facebook;
            }
            .network__icons {
                width: 30px;
            }
            .network__icons:hover {
                background-color: $yellowColor;
                border-radius: 50%;
                transform: scale(1.5);
                transition: transform 0.3s linear, background-color 0.3s linear;
            }
        }
    }
    .footer {
        grid-area: footer;
        justify-self: center;
        align-self: center;
        color: $darkColor;
        font-weight: $semibold;
        .footer__anchor {
            a {
                color: $purpleColor;
            }
        }
    }

    // @media screen and (min-width: 1200px) {
    //     body {
    //         max-width: 1200px;
    //         margin: 10px auto;
    //     }
}

// @font-face {
//     font-family: 'Myriad Pro Regular';
//     src: url('MyriadPro-Regular.eot');
//     src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
//     url('MyriadPro-Regular.woff') format('woff'),
//     url('MyriadPro-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// body {
//     margin: 0;
//     font-family: 'Open Sans', sans-serif;
//     font-size: 1em;
//     // line-height: 1.6;
//     color: #3b434d;
//     text-shadow: 3px 0px 3px rgba(0,0,0,0.6);
// }
// h1, h2, h3, h4, h5, h6 {
//     margin: 0;
// }
// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }
// // container
// .conteiner {
//     width: 100%;
//     min-width: 1200px;
//     margin: 0 auto;
// }
// // intro
// .intro {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//     height: 100vh;
//     background: url(../images/bg.jpg) center no-repeat;
//     background-size: cover;
//     // line-height: 72px;
// }
// .intro__inner {
//     width: 100%;
//     max-width: 515px;
//     height: 155px;
//     margin: 0 auto;
// }
// .intro__title {
//     color: white;
//     font-size: 60px;
//     font-weight: 700;
//     text-align: left;
//     line-height: 1;
// }
// .intro__subtitle {
//     width: 100%;
//     max-width: 570px;
//     height: 120px;
//     padding: 20px 0 0 5px;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 30px;
//     color: white;
//     text-align: left;
// }
// .intro__download {
//     width: 100%;
//     max-width: 310px;
//     height: 30px;
//     padding: 70px 0 0 3px;
//     font-size: 28px;
//     font-weight: 600;
//     line-height: 30px;
//     color: white;
//     text-align: left;
//     text-transform: uppercase;
//     text-shadow: none;
// }
// // header
// .header {
//     position: absolute;
//     padding-top: 30px;
//     width: 100%;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 1000;
// }
// .header__inner {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .header__logo_width {
//     width: 200px;
// }
// // nav
// .nav {
//     font-family: 'Myriad Pro Regular', sans-serif;
//     font-size: 18px;
//     font-weight: 400;
//     text-transform: uppercase;
// }
// .nav__link {
//     display: inline-block;
//     vertical-align: top;
//     text-align: center;
//     padding: 5px 15px;
//     margin: 0 10px;
//     color: white;
//     text-decoration: none;
//     transition: color 0.2s linear;
//     transition: background-color 0.2s linear;
//     transition: text-shadow 0.05s linear;
// }
// .nav__link:hover {
//     color: white;
//     border-radius: 30px 30px;
//     background-color: #a62ad7;
//     text-shadow: 2px 0px 2px rgba(59,67,77,0.3);
// }
