@font-face {
    font-family: "Myriad Pro Regular";
    src: url("MyriadPro-Regular.eot");
    src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"),
        url("MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    grid-template-areas:
        "header"
        "sub-header"
        "features"
        "check"
        "screenhots"
        "comments"
        "support"
        "newsletter"
        "blog"
        "get"
        "footer";
    .header {
        grid-area: header;
        background-color: white;
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header-logo . header-nav";
        .header__logo_width {
            grid-area: header-logo;
            width: 200px;
        }
        .header__nav {
            grid-area: header-nav;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: 1fr;
            align-self: center;
            justify-self: stretch;
            font-family: "Myriad Pro Regular", sans-serif;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            .nav__link {
                color: black;
                padding: 10px 0;
                text-align: center;
                text-decoration: none;
                transition: color 0.2s linear;
                transition: background-color 0.2s linear;
                transition: text-shadow 0.05s linear;
            }
            .nav__link:hover {
                color: white;
                border-radius: 30px 30px;
                background-color: #a62ad7;
            }
        }
    }
    .sub__header {
        grid-area: sub-header;
        background: url(../images/bg.jpg) center no-repeat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        grid-template-areas: "sub-phone sub-empires";
        .sub__phone {
            grid-area: sub-phone;
            width: 100%;
            height: 100vh;
        }
        .sub__empires {
            grid-area: sub-empires;
            display: grid;
            align-self: center;
            justify-self: stretch;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 50px 100px;
            grid-template-areas:
                "hello"
                "description"
                "download"
                "icons";
            .empires__hello {
                grid-area: hello;
                color: white;
                font-size: 60px;
                font-weight: 700;
                text-align: left;
                line-height: 1;
                
            }
            .empires__description {
                grid-area: description;
                margin-top: 20px;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                color: white;
                text-align: left;
            }
            .empires__download {
                grid-area: download;
                margin-top: 20px;
                font-size: 28px;
                font-weight: 600;
                line-height: 30px;
                color: white;
                text-align: left;
            }
            .empires__icons {
                grid-area: icons;
                display: grid;
                grid-template-columns: 250px 250px;
                grid-template-rows: 90px;
                grid-template-areas:
                "appStore"
                "googlePlay";
                .empires__appStore {
                    width: 250px;
                    opacity: 0.75;
                    // background-position-y: ;
                }
                .empires__googlePlay {
                    width: 250px;
                    opacity: 0.75;
                    transition: opacity 0.2s linear;
                }
                .empires__appStore:hover,
                .empires__googlePlay:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}
