@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-dribbble:before {
  content: "\63";
}
.icon-pinterest:before {
  content: "\64";
}
.icon-linkedin:before {
  content: "\65";
}
.icon-google-plus:before {
  content: "\66";
}
.icon-puzzle-piece:before {
  content: "\67";
}
.icon-envelope:before {
  content: "\68";
}
.icon-question:before {
  content: "\69";
}
.icon-phone:before {
  content: "\6c";
}
.icon-calendar:before {
  content: "\6d";
}
.icon-clock:before {
  content: "\6e";
}
.icon-angle-up:before {
  content: "\6f";
}
.icon-apple:before {
  content: "\70";
}
.icon-android:before {
  content: "\71";
}
.icon-globe:before {
  content: "\6a";
}
.icon-cogs:before {
  content: "\6b";
}
.icon-clock-o:before {
  content: "\72";
}
.icon-users:before {
  content: "\73";
}
.icon-circle-o-notch:before {
  content: "\74";
}
.icon-gamepad:before {
  content: "\75";
}
.icon-plane:before {
  content: "\76";
}
