@charset "UTF-8";
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("MyriadPro-Regular.eot");
  src: url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff") format("woff"), url("MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100px 860px 835px 805px 900px 520px 985px 530px 890px 745px 100px;
      grid-template-rows: 100px 860px 835px 805px 900px 520px 985px 530px 890px 745px 100px;
      grid-template-areas: "header" "sub-header" "features" "check" "screenhots" "comments" "support" "newsletter" "blog" "get" "footer";
}

body .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: white;
  padding: 0 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 0.3fr 1fr;
      grid-template-columns: 0.3fr 0.3fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header-logo . header-nav";
}

body .header .header__logo_width {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
  width: 200px;
}

body .header .header__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-nav;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 30px;
}

body .header .header__nav .nav__link {
  color: #3b434d;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

body .header .header__nav .nav__link:hover {
  color: white;
  border-radius: 30px;
  background-color: #b364d3;
  -webkit-transition: color 0.1s linear, background-color 0.2s linear;
  transition: color 0.1s linear, background-color 0.2s linear;
}

body .sub__header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sub-header;
  padding: 0 200px;
  background: url(../images/index.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 860px;
      grid-template-rows: 860px;
  grid-gap: 20px;
      grid-template-areas: "sub-phone sub-empires";
}

body .sub__header .sub__phone {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sub-phone;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 860px;
      grid-template-rows: 860px;
      grid-template-areas: "phone-samsung phone-apple";
  width: 100%;
  height: 100vh;
}

body .sub__header .sub__phone .phone__apple {
  position: relative;
  bottom: 3px;
  left: 180px;
  background-image: url(../images/apple.png);
  background-size: 270px;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 5;
  -webkit-animation: apple-display 1.5s linear;
          animation: apple-display 1.5s linear;
}

@-webkit-keyframes apple-display {
  0% {
    bottom: 3px;
    left: -480px;
  }
  100% {
    bottom: 3px;
    left: 180px;
  }
}

@keyframes apple-display {
  0% {
    bottom: 3px;
    left: -480px;
  }
  100% {
    bottom: 3px;
    left: 180px;
  }
}

body .sub__header .sub__phone .phone__samsung {
  position: relative;
  background-image: url(../images/samsung.png);
  background-size: 255px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  -webkit-animation: samsung-display 3.8s ease-in;
          animation: samsung-display 3.8s ease-in;
}

@-webkit-keyframes samsung-display {
  0% {
    left: -880px;
  }
  100% {
    left: 0;
  }
}

@keyframes samsung-display {
  0% {
    left: -880px;
  }
  100% {
    left: 0;
  }
}

body .sub__header .sub__empires {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sub-empires;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 50px 100px;
      grid-template-rows: 1fr 1fr 50px 100px;
      grid-template-areas: "hello" "description" "download" "icons";
}

body .sub__header .sub__empires .empires__hello {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hello;
  color: white;
  font-size: 60px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  line-height: 72px;
}

body .sub__header .sub__empires .empires__description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  line-height: 30px;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
}

body .sub__header .sub__empires .empires__download {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: download;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
}

body .sub__header .sub__empires .empires__icons {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: icons;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px;
      grid-template-columns: 250px 250px;
  -ms-grid-rows: 90px;
      grid-template-rows: 90px;
      grid-template-areas: "appStore" "googlePlay";
}

body .sub__header .sub__empires .empires__icons .empires__appStore {
  margin-top: 15px;
  width: 200px;
  opacity: 0.75;
}

body .sub__header .sub__empires .empires__icons .empires__googlePlay {
  margin-top: 15px;
  width: 200px;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

body .sub__header .sub__empires .empires__icons .empires__appStore:hover,
body .sub__header .sub__empires .empires__icons .empires__googlePlay:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .scrollup {
  position: fixed;
  /* фиксированная позиция */
  color: #fff;
  /* цвет текста */
  background-color: #286090;
  /* цвет заднего фона */
  right: 20px;
  /* расстояние от правого края */
  bottom: 0px;
  /* расстояние от нижнего края */
  padding: 4px 10px;
  /* отступы до содержимого блока */
  font-size: 20px;
  /* размер шрифта (иконки) */
  border-top-left-radius: 4px;
  /* скругление верхнего левого угла */
  border-top-right-radius: 4px;
  /* скругление верхнего правого угла */
  cursor: pointer;
  /* форма курсора */
  display: none;
  /* не отображать элемент */
  text-align: center;
  /*выравнивание содержимого элемента по центру */
}

body .scrollup:hover {
  background-color: #000;
  /* цвет заднего фона при наведении */
}

body .content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: features;
  padding: 0 200px;
  background: url(../images/bg2.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 200px 200px 435px;
      grid-template-rows: 200px 200px 435px;
      grid-template-areas: "content-banner" "content-main" "content-advantage";
}

body .content .content__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: content-banner;
  color: #3b434d;
  font-size: 60px;
  font-weight: 600;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
}

body .content .content__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content-main;
  color: #3b434d;
  margin-top: 20px;
  line-height: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
}

body .content .content__main p {
  text-align: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

body .content .content__advantage {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content-advantage;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 160px 115px 160px;
      grid-template-rows: 160px 115px 160px;
      grid-template-areas: "advantage-community advantage-event advantage-three" "advantage-community advantage-event advantage-three" "advantage-community advantage-event advantage-three";
}

body .content .content__advantage .advantage__community {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: advantage-community;
  text-align: center;
}

body .content .content__advantage .advantage__community .community__svg {
  width: 133.6px;
  -webkit-transition: background-color 0.5s linear, border-radius 0.5s linear;
  transition: background-color 0.5s linear, border-radius 0.5s linear;
}

body .content .content__advantage .advantage__community .community__svg:hover {
  background-color: #fdf378;
  border-radius: 25px;
}

body .content .content__advantage .advantage__community .community__banner {
  color: #3b434d;
  font-size: 30px;
  font-weight: 600;
}

body .content .content__advantage .advantage__community .community__content {
  color: #3b434d;
  line-height: 30px;
  margin-top: 20px;
}

body .content .content__advantage .advantage__event {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: advantage-event;
  text-align: center;
}

body .content .content__advantage .advantage__event .event__svg {
  width: 133.6px;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-transition: border-radius 0.01s linear;
  transition: border-radius 0.01s linear;
}

body .content .content__advantage .advantage__event .event__svg:hover {
  background-color: #fdf378;
  border-radius: 25px;
}

body .content .content__advantage .advantage__event .event__banner {
  color: #3b434d;
  font-size: 30px;
  font-weight: 600;
}

body .content .content__advantage .advantage__event .event__content {
  line-height: 30px;
  margin-top: 20px;
}

body .content .content__advantage .advantage__three {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: advantage-three;
  text-align: center;
}

body .content .content__advantage .advantage__three .three__svg {
  width: 133.6px;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-transition: border-radius 0.01s linear;
  transition: border-radius 0.01s linear;
}

body .content .content__advantage .advantage__three .three__svg:hover {
  background-color: #fdf378;
  border-radius: 25px;
}

body .content .content__advantage .advantage__three .three__banner {
  color: #3b434d;
  font-size: 30px;
  font-weight: 600;
}

body .content .content__advantage .advantage__three .three__content {
  line-height: 30px;
  margin-top: 20px;
}

body .check {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: check;
  padding: 0 200px;
  background: url(../images/bg3.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 201.25px 201.25px 201.25px 201.25px;
      grid-template-rows: 201.25px 201.25px 201.25px 201.25px;
      grid-template-areas: "check-banner check-banner" "check-time check-phone" "check-space check-phone" "check-settings check-phone";
}

body .check .check__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: check-banner;
  color: white;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

body .check .check__time {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: check-time;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  -ms-grid-rows: 30px 171.25px;
      grid-template-rows: 30px 171.25px;
      grid-template-areas: "time-icons time-banner" "time-icons time-content";
}

body .check .check__time .time__icons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: time-icons;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-right: 10px;
}

body .check .check__time .time__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: time-banner;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body .check .check__time .time__content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: time-content;
  color: white;
  margin: 16px 0;
  line-height: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

body .check .check__space {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: check-space;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  -ms-grid-rows: 30px 171.25px;
      grid-template-rows: 30px 171.25px;
      grid-template-areas: "space-icons space-banner" "space-icons space-content";
}

body .check .check__space .space__icons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: space-icons;
  width: 42.4px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-right: 10px;
}

body .check .check__space .space__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: space-banner;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body .check .check__space .space__content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: space-content;
  color: white;
  margin: 16px 0;
  line-height: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

body .check .check__settings {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: check-settings;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
  -ms-grid-rows: 30px 171.25px;
      grid-template-rows: 30px 171.25px;
      grid-template-areas: "settings-icons settings-banner" "settings-icons settings-content";
}

body .check .check__settings .settings__icons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: settings-icons;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-right: 10px;
}

body .check .check__settings .settings__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: settings-banner;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body .check .check__settings .settings__content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: settings-content;
  color: white;
  margin: 16px 0;
  line-height: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

body .check .check__phone {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: check-phone;
  background-image: url(../images/hand.png);
  background-size: 461px;
  background-repeat: no-repeat;
  background-position: center;
}

body .screenshots {
  background: url(../images/bg4.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 201.25px 698.75px;
      grid-template-rows: 201.25px 698.75px;
      grid-template-areas: "screenshots-banner" "screenshots-slider";
}

body .screenshots .screenshots__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: screenshots-banner;
  color: #3b434d;
  font-size: 48px;
  font-weight: 400;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body .screenshots #i1,
body .screenshots #i2,
body .screenshots #i3,
body .screenshots #i4,
body .screenshots #i5,
body .screenshots #i6 {
  display: none;
}

body .screenshots .screenshots__slider {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: screenshots-slider;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 38%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #1c1c1c;
  border: solid 10px #3b434d;
  border-radius: 10px;
}

body .screenshots .screenshots__slider .slider_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: center;
  overflow: hidden;
}

body .screenshots .screenshots__slider .slider_img img {
  height: inherit;
}

body .screenshots .screenshots__slider .slider_img .prev,
body .screenshots .screenshots__slider .slider_img .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(88, 88, 88, 0.2);
  color: rgba(179, 100, 211, 0.9);
  z-index: 99;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

body .screenshots .screenshots__slider .slider_img .next {
  right: 0;
}

body .screenshots .screenshots__slider .slider_img .prev {
  left: 0;
}

body .screenshots .screenshots__slider .slider_img .prev:hover,
body .screenshots .screenshots__slider .slider_img .next:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(243, 243, 120, 0.8);
  color: #b364d3;
}

body .screenshots .screenshots__slider .slider_img .arrow {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  right: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .screenshots .screenshots__slider #nav_slider {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

body .screenshots .screenshots__slider #nav_slider .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .screenshots .screenshots__slider #nav_slider .dots:hover {
  cursor: pointer;
  background-color: rgba(179, 100, 211, 0.9);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .screenshots .screenshots__slider #i1:checked ~ #one,
body .screenshots .screenshots__slider #i2:checked ~ #two,
body .screenshots .screenshots__slider #i3:checked ~ #three,
body .screenshots .screenshots__slider #i4:checked ~ #four,
body .screenshots .screenshots__slider #i5:checked ~ #five,
body .screenshots .screenshots__slider #i6:checked ~ #six {
  z-index: 9;
  -webkit-animation: scroll 1s ease-in-out;
          animation: scroll 1s ease-in-out;
}

body .screenshots .screenshots__slider #i1:checked ~ #nav_slider > #dot1,
body .screenshots .screenshots__slider #i2:checked ~ #nav_slider > #dot2,
body .screenshots .screenshots__slider #i3:checked ~ #nav_slider > #dot3,
body .screenshots .screenshots__slider #i4:checked ~ #nav_slider > #dot4,
body .screenshots .screenshots__slider #i5:checked ~ #nav_slider > #dot5,
body .screenshots .screenshots__slider #i6:checked ~ #nav_slider > #dot6 {
  background-color: rgba(179, 100, 211, 0.9);
}

body .comments {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: comments;
  padding: 0 200px;
  background: url(../images/bg5.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 520px;
      grid-template-rows: 520px;
      grid-template-areas: "comments-quote";
}

body .comments #com1,
body .comments #com2,
body .comments #com3 {
  display: none;
}

body .comments #nav_comments {
  width: 100%;
  bottom: 12%;
  height: 11px;
  text-align: center;
  z-index: 99;
  cursor: default;
}

body .comments #nav_comments .buttons {
  top: -100px;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: transparent;
  border: 1.2px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .comments #nav_comments .buttons:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .comments #com1:checked ~ #quote1,
body .comments #com2:checked ~ #quote2,
body .comments #com3:checked ~ #quote3 {
  display: block;
  -webkit-animation: scroll 1s ease-in-out;
          animation: scroll 1s ease-in-out;
}

body .comments #com1:checked ~ #nav_comments > #buttons1,
body .comments #com2:checked ~ #nav_comments > #buttons2,
body .comments #com3:checked ~ #nav_comments > #buttons3 {
  background-color: rgba(255, 255, 255, 0.9);
}

body .comments .quote__one,
body .comments .quote__two,
body .comments .quote__three {
  display: none;
}

body .comments .comments__quote {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: comments-quote;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .comments .comments__quote .comments__image {
  width: 130px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  float: left;
  margin-right: 70px;
}

body .comments .comments__quote .comments__user {
  color: white;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 30px;
  position: relative;
  padding: 16px 24px;
  margin: 16px 46px;
  text-align: left;
}

body .comments .comments__quote .comments__user .user__quote:before,
body .comments .comments__quote .comments__user .user__quote:after {
  position: absolute;
  color: white;
  font-size: 60px;
  font-family: Times, sans-serif;
  line-height: 100px;
}

body .comments .comments__quote .comments__user .user__quote:before {
  content: "“";
  left: 180px;
  top: 0;
}

body .comments .comments__quote .comments__user .user__quote:after {
  content: "”";
  right: -10px;
  bottom: 40px;
}

body .comments .comments__quote .comments__user .user__author {
  font-size: 18px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
}

body .support {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: support;
  padding: 0 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 200px 100px 685px;
      grid-template-rows: 200px 100px 685px;
      grid-template-areas: "support-banner" "support-contact" "support-user";
}

body .support .support__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: support-banner;
  color: #3b434d;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 60px;
  font-weight: 600;
}

body .support .support__contact {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: support-contact;
  color: #3b434d;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 27px;
  font-weight: 400;
  line-height: 24px;
}

body .support .support__contact a {
  text-decoration: none;
  color: #3b434d;
  padding: 0 10px;
}

body .support .support__contact a:hover {
  color: #b364d3;
  font-size: 30px;
  -webkit-transition: font-size 0.3s linear;
  transition: font-size 0.3s linear;
}

body .support .support__user {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: support-user;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: 332.5px 332.5px;
      grid-template-rows: 332.5px 332.5px;
  grid-column-gap: 40px;
      grid-template-areas: "user-info-one user-info-two" "user-info-three user-info-four";
}

body .support .support__user .user__info_one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: user-info-one;
}

body .support .support__user .user__info_two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: user-info-two;
}

body .support .support__user .user__info_three {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: user-info-three;
}

body .support .support__user .user__info_four {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: user-info-four;
}

body .support .support__user .user__info_one,
body .support .support__user .user__info_two,
body .support .support__user .user__info_three,
body .support .support__user .user__info_four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 0.3fr;
      grid-template-columns: 0.7fr 0.3fr;
  -ms-grid-rows: 94px 94px 94px;
      grid-template-rows: 94px 94px 94px;
  grid-gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #3b434d;
  line-height: 24px;
      grid-template-areas: "info-name info-photo" "info-bio info-photo" "info-network info-photo";
}

body .support .support__user .user__info_one .info__name,
body .support .support__user .user__info_two .info__name,
body .support .support__user .user__info_three .info__name,
body .support .support__user .user__info_four .info__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info-name;
  border-bottom: 1.3px solid #3b434d;
      justify-self: end;
  -ms-flex-item-align: end;
      align-self: end;
  text-align: right;
}

body .support .support__user .user__info_one .info__name span,
body .support .support__user .user__info_two .info__name span,
body .support .support__user .user__info_three .info__name span,
body .support .support__user .user__info_four .info__name span {
  font-size: 18px;
  font-weight: 600;
}

body .support .support__user .user__info_one .info__bio,
body .support .support__user .user__info_two .info__bio,
body .support .support__user .user__info_three .info__bio,
body .support .support__user .user__info_four .info__bio {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info-bio;
      justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: end;
}

body .support .support__user .user__info_one .info__photo,
body .support .support__user .user__info_two .info__photo,
body .support .support__user .user__info_three .info__photo,
body .support .support__user .user__info_four .info__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: info-photo;
      justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
}

body .support .support__user .user__info_one .info__photo img,
body .support .support__user .user__info_two .info__photo img,
body .support .support__user .user__info_three .info__photo img,
body .support .support__user .user__info_four .info__photo img {
  width: 200px;
}

body .support .support__user .user__info_one .info__network,
body .support .support__user .user__info_two .info__network,
body .support .support__user .user__info_three .info__network,
body .support .support__user .user__info_four .info__network {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: info-network;
      justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
  width: 20px;
  height: 20px;
  font-family: untitled-font-1;
}

body .support .support__user .user__info_two,
body .support .support__user .user__info_four {
  -ms-grid-columns: 0.3fr 0.7fr;
      grid-template-columns: 0.3fr 0.7fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
      grid-template-areas: "info-photo info-name" "info-photo info-bio" "info-photo info-network";
}

body .support .support__user .user__info_two .info__name,
body .support .support__user .user__info_four .info__name {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: left;
}

body .support .support__user .user__info_two .info__bio,
body .support .support__user .user__info_four .info__bio {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: start;
}

body .support .support__user .user__info_two .info__photo,
body .support .support__user .user__info_four .info__photo {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .support .support__user .user__info_two .info__network,
body .support .support__user .user__info_four .info__network {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .newsletter {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: newsletter;
  padding: 0 200px;
  background: url(../images/bg6.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 150px 230px 150px;
      grid-template-rows: 150px 230px 150px;
      grid-template-areas: "newsletter-banner" "newsletter-main" "newsletter-mailing";
}

body .newsletter .newsletter__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: newsletter-banner;
  color: white;
  font-size: 60px;
  font-weight: 600;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body .newsletter .newsletter__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: newsletter-main;
  color: white;
  line-height: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

body .newsletter .newsletter__mailing {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: newsletter-mailing;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 150px;
      grid-template-columns: 300px 150px;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
  grid-gap: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
  position: relative;
  border-radius: 3px;
}

body .newsletter .newsletter__mailing input {
  margin: 0;
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

body .newsletter .newsletter__mailing input[type="email"]::-webkit-input-placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

body .newsletter .newsletter__mailing input[type="email"]:-ms-input-placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

body .newsletter .newsletter__mailing input[type="email"]::-ms-input-placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

body .newsletter .newsletter__mailing input[type="email"]::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

body .newsletter .newsletter__mailing input:focus {
  outline: 0;
  border-color: #b364d3;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
}

body .newsletter .newsletter__mailing button {
  height: 48px;
  cursor: pointer;
  border: 1px solid #b364d3;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  background-color: #b364d3;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

body .newsletter .newsletter__mailing button:hover {
  background-color: white;
  border-color: white;
  color: #b364d3;
  text-shadow: none;
}

body .newsletter .newsletter__mailing button:active {
  text-shadow: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

body .blog {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: blog;
  padding: 0 200px;
  background: url(../images/bg7.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 150px 750px;
      grid-template-rows: 150px 750px;
      grid-template-areas: "blog-banner" "blog-main";
}

body .blog #blog1,
body .blog #blog2,
body .blog #blog3 {
  display: none;
}

body .blog #nav_blog {
  width: 100%;
  bottom: 12%;
  height: 11px;
  text-align: center;
  z-index: 99;
  cursor: default;
}

body .blog #nav_blog .but {
  bottom: -180px;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: transparent;
  border: 1.2px solid #b364d3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .blog #nav_blog .but:hover {
  cursor: pointer;
  background-color: rgba(179, 100, 211, 0.9);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .blog #blog1:checked ~ #be1,
body .blog #blog2:checked ~ #be2,
body .blog #blog3:checked ~ #be3 {
  display: block;
  -webkit-animation: scroll 1s ease-in-out;
          animation: scroll 1s ease-in-out;
}

body .blog #blog1:checked ~ #nav_blog > #but1,
body .blog #blog2:checked ~ #nav_blog > #but2,
body .blog #blog3:checked ~ #nav_blog > #but3 {
  background-color: #b364d3;
}

body .blog .events {
  display: none;
}

body .blog .blog__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: blog-banner;
  color: #3b434d;
  font-size: 60px;
  font-weight: 600;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .blog .blog__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: blog-main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
}

body .blog .blog__main input {
  display: none;
}

body .blog .blog__main .events .events__one {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: 230px 230px 230px;
      grid-template-rows: 230px 230px 230px;
}

body .blog .blog__main .events .events__one .oneEv__content .content26 {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: 46.6px 106.6px 76.6px;
      grid-template-rows: 46.6px 106.6px 76.6px;
      grid-template-areas: "content26-image content26-banner" "content26-image content26-main" "content26-image content26-link";
}

body .blog .blog__main .events .events__one .oneEv__content .content26 .content26__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content26-banner;
  color: #3b434d;
  font-size: 18px;
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .blog .blog__main .events .events__one .oneEv__content .content26 .content26__main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content26-main;
  color: #3b434d;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .blog .blog__main .events .events__one .oneEv__content .content26 .content26__link {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: content26-link;
  color: #3b434d;
  font-size: 14px;
  font-weight: 600;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

body .blog .blog__main .events .events__one .oneEv__content .content26 .content26__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: content26-image;
  text-align: right;
  padding-top: 15px;
  padding-right: 20px;
}

body .blog .blog__main .events .events__one .oneEv__content .content26 .content26__image img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

body .get {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: get;
  padding: 0 200px;
  background: url(../images/bg8.png) center no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 150px 150px 345px 100px;
      grid-template-rows: 150px 150px 345px 100px;
      grid-template-areas: "get-banner" "get-content" "get-form" "get-network";
}

body .get .get__banner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: get-banner;
  color: white;
  font-size: 60px;
  font-weight: 600;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

body .get .get__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: get-content;
  color: white;
  line-height: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

body .get .get__form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: get-form;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 55px 235px 55px;
      grid-template-rows: 55px 235px 55px;
  grid-gap: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  border-radius: 3px;
      grid-template-areas: "fName lName eAddress tNumber" "comText comText comText comText" " . subm subm . ";
}

body .get .get__form .fName {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fName;
}

body .get .get__form .lName {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: lName;
}

body .get .get__form .eAddress {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: eAddress;
}

body .get .get__form .tNumber {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: tNumber;
}

body .get .get__form .comText {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: comText;
}

body .get .get__form .subm {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: subm;
}

body .get .get__form input {
  margin: 0;
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
}

body .get .get__form input[type="text"]::-webkit-input-placeholder,
body .get .get__form input[type="email"]::-webkit-input-placeholder,
body .get .get__form input[type="number"]::-webkit-input-placeholder {
  color: #3b434d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

body .get .get__form input[type="text"]:-ms-input-placeholder,
body .get .get__form input[type="email"]:-ms-input-placeholder,
body .get .get__form input[type="number"]:-ms-input-placeholder {
  color: #3b434d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

body .get .get__form input[type="text"]::-ms-input-placeholder,
body .get .get__form input[type="email"]::-ms-input-placeholder,
body .get .get__form input[type="number"]::-ms-input-placeholder {
  color: #3b434d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

body .get .get__form input[type="text"]::placeholder,
body .get .get__form input[type="email"]::placeholder,
body .get .get__form input[type="number"]::placeholder {
  color: #3b434d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

body .get .get__form input:focus {
  outline: 0;
  border-color: #b364d3;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
}

body .get .get__form input::-webkit-outer-spin-button,
body .get .get__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body .get .get__form input[type="number"] {
  -moz-appearance: textfield;
}

body .get .get__form button {
  position: relative;
  bottom: 37.5px;
  cursor: pointer;
  border: 1px solid #b364d3;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  background-color: #b364d3;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

body .get .get__form button:hover {
  background-color: #fdf378;
  border-color: #b364d3;
  color: #b364d3;
  text-shadow: none;
}

body .get .get__form button:active {
  position: relative;
  text-shadow: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

body .get .get__network {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: get-network;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  grid-column-gap: 40px;
      grid-template-areas: "network-facebook network-twitter network-pinterest network-google network-dribbble";
}

body .get .get__network .network__facebook {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: network-facebook;
}

body .get .get__network .network__twitter {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: network-twitter;
}

body .get .get__network .network__facebook {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: network-facebook;
}

body .get .get__network .network__facebook {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: network-facebook;
}

body .get .get__network .network__facebook {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: network-facebook;
}

body .get .get__network .network__icons {
  width: 30px;
}

body .get .get__network .network__icons:hover {
  background-color: #b364d3;
  border-radius: 50%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, background-color 0.3s linear;
  transition: transform 0.3s linear, background-color 0.3s linear, -webkit-transform 0.3s linear;
}

body .footer {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 0 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #3b434d;
  font-weight: 600;
}

body .footer .footer__anchor {
  text-align: center;
}

body .footer .footer__anchor a {
  color: #b364d3;
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
  body {
    max-width: 375px;
    margin: 10px auto;
    -ms-grid-rows: 100px 560px 560px 505px 600px 450px 985px 530px 890px 745px 100px;
        grid-template-rows: 100px 560px 560px 505px 600px 450px 985px 530px 890px 745px 100px;
  }
  body .header {
        grid-template-areas: "header-logo header-nav header-nav";
  }
  body .sub__header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 560px;
        grid-template-rows: 560px;
    grid-gap: 0;
  }
  body .sub__header .sub__empires {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: sub-empires;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 50px 100px;
        grid-template-rows: 1fr 1fr 50px 100px;
        grid-template-areas: "hello" "description" "download" "icons";
  }
  body .sub__header .sub__empires .empires__hello {
    text-align: center;
    padding: 0 30px;
  }
  body .sub__header .sub__empires .empires__description {
    text-align: center;
    padding: 0 30px;
  }
  body .sub__header .sub__empires .empires__download {
    text-align: center;
  }
  body .sub__header .sub__empires .empires__icons {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  body .content {
    -ms-grid-rows: 100px 170px 290px;
        grid-template-rows: 100px 170px 290px;
  }
  body .content .content__main {
    padding: 0 30px;
  }
  body .content .content__advantage {
    -ms-grid-rows: 70px 50px 115px;
        grid-template-rows: 70px 50px 115px;
  }
  body .content .content__advantage .advantage__community .community__svg {
    width: 66.8px;
  }
  body .content .content__advantage .advantage__community .community__content {
    padding: 0 30px;
    margin-top: 10px;
    line-height: 24px;
  }
  body .content .content__advantage .advantage__event .event__svg {
    width: 66.8px;
  }
  body .content .content__advantage .advantage__event .event__content {
    padding: 0 30px;
    margin-top: 10px;
    line-height: 24px;
  }
  body .content .content__advantage .advantage__three .three__svg {
    width: 66.8px;
  }
  body .content .content__advantage .advantage__three .three__content {
    padding: 0 30px;
    margin-top: 10px;
    line-height: 24px;
  }
  body .check {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 126.25px 126.25px 126.25px 126.25px;
        grid-template-rows: 126.25px 126.25px 126.25px 126.25px;
  }
  body .check .check__time {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30px 96.25px;
        grid-template-rows: 30px 96.25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  body .check .check__time .time__icons {
    display: none;
  }
  body .check .check__time .time__banner {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  body .check .check__time .time__content {
    padding: 0 30px;
  }
  body .check .check__space {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30px 96.25px;
        grid-template-rows: 30px 96.25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  body .check .check__space .space__icons {
    display: none;
  }
  body .check .check__space .space__banner {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  body .check .check__space .space__content {
    padding: 0 30px;
  }
  body .check .check__settings {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 30px 96.25px;
        grid-template-rows: 30px 96.25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  body .check .check__settings .settings__icons {
    display: none;
  }
  body .check .check__settings .settings__banner {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  body .check .check__settings .settings__content {
    padding: 0 30px;
  }
  body .check .check__phone {
    display: none;
  }
  body .screenshots {
    -ms-grid-rows: 101.25px 498.75px;
        grid-template-rows: 101.25px 498.75px;
  }
  body .screenshots .screenshots__banner {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .screenshots .screenshots__slider {
    width: 67%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  body .comments {
    -ms-grid-rows: 450px;
        grid-template-rows: 450px;
    padding: 0 30px;
  }
  body .newsletter .newsletter__main {
    padding: 0 30px;
  }
  body .get .get__content {
    padding: 0 30px;
  }
  body .get .get__form {
    padding: 0 30px;
  }
  body .footer .footer__anchor {
    padding: 0 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */