h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100px 2fr 100px;
      grid-template-rows: 100px 2fr 100px;
      grid-template-areas: "header" "news" "footer";
}

body .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: white;
  padding: 0 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 0.3fr 1fr;
      grid-template-columns: 0.3fr 0.3fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header-logo . header-nav";
}

body .header .header__logo_width {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
  width: 200px;
}

body .header .nav {
  display: none;
}

body .header .header__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-nav;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  font-family: "Myriad Pro Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 30px;
}

body .header .header__nav .nav__link {
  color: #3b434d;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

body .header .header__nav .nav__link:hover {
  color: white;
  border-radius: 30px;
  background-color: #b364d3;
  -webkit-transition: color 0.1s linear, background-color 0.2s linear;
  transition: color 0.1s linear, background-color 0.2s linear;
}

body .news {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: news;
  background: -webkit-gradient(linear, right top, left top, from(#a341ff), to(#9198e5));
  background: linear-gradient(to left, #a341ff, #9198e5);
  padding: 0 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px 130px 1fr;
      grid-template-rows: 50px 130px 1fr;
      grid-template-areas: "breadcrumb" "news-banner" "news-main";
}

body .news .breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  background-color: transparent;
}

body .news .breadcrumb a,
body .news .breadcrumb .active {
  color: #3b434d;
  display: block;
  background: #fdf378;
  text-decoration: none;
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .news .breadcrumb .breadcrumb-item:first-child > a {
  padding-left: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

body .news .breadcrumb .breadcrumb-item:last-child > a,
body .news .breadcrumb .breadcrumb-item.active {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding-right: 15px;
}

body .news .breadcrumb .breadcrumb-item:first-child > a::before,
body .news .breadcrumb .breadcrumb-item:last-child > a::after {
  border: none;
}

body .news .breadcrumb .breadcrumb-item > a::before,
body .news .breadcrumb .breadcrumb-item > a::after,
body .news .breadcrumb .breadcrumb-item.active::before {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #fdf378;
  border-width: 17px 10px;
  width: 0;
  height: 0;
}

body .news .breadcrumb .breadcrumb-item > a::before,
body .news .breadcrumb .breadcrumb-item.active::before {
  left: -20px;
  border-left-color: transparent;
}

body .news .breadcrumb .breadcrumb-item > a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: #fdf378;
}

body .news .breadcrumb .breadcrumb-item > a:hover {
  background-color: #fc8102;
}

body .news .breadcrumb .breadcrumb-item > a:hover::before {
  border-color: #fc8102;
  border-left-color: transparent;
}

body .news .breadcrumb .breadcrumb-item > a:hover::after {
  border-left-color: #fc8102;
}

body .news .breadcrumb .breadcrumb-item.active {
  color: #fc8102;
  background-color: white;
}

body .news .breadcrumb .breadcrumb-item.active::before {
  border-color: white;
  border-left-color: transparent;
}

body .news .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 1px;
  color: #6c757d;
  content: "";
}

body .news .news__banner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: news-banner;
  color: white;
  font-size: 48px;
  font-weight: 600;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

body .news .news__main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: news-main;
  padding-bottom: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  text-align: justify;
}

body .news .news__main .card .card-body h5,
body .news .news__main .card .card-body p {
  color: #3b434d;
}

body .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 0 150px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #3b434d;
  font-weight: 600;
}

body .footer .footer__anchor {
  text-align: center;
}

body .footer .footer__anchor a {
  color: #b364d3;
}

body .footer .footer__anchor a:hover {
  color: #fc8102;
}

body .scrollup {
  position: fixed;
  color: #b364d3;
  background-color: #fdf378;
  right: 20px;
  bottom: 0px;
  padding: 4px 10px;
  font-size: 60px;
  border: 1px solid #b364d3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: none;
  text-align: center;
}

body .scrollup:hover {
  color: #fdf378;
  background-color: #b364d3;
  border: 1px solid #fdf378;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
}

@media only screen and (max-width: 576px) {
  body {
    max-width: 540px;
    margin: 0 auto;
    -ms-grid-rows: 150px 1fr 100px;
        grid-template-rows: 150px 1fr 100px;
  }
  body .header {
    padding: 0;
    display: block;
  }
  body .header .header__logo {
    text-align: center;
    margin-bottom: 10px;
  }
  body .header .header__nav {
    display: none;
  }
  body .header .nav {
    display: block;
  }
  body .header .nav .nav-item a {
    color: #3b434d;
  }
  body .header .nav .nav-item .nav-link {
    text-align: center;
  }
  body .header .nav .nav-item .dropdown-menu {
    color: #3b434d;
    width: 100%;
  }
  body .header .nav .nav-item .dropdown-menu .dropdown-item {
    text-align: center;
  }
  body .header .nav .nav-item .dropdown-menu .dropdown-item.active,
  body .header .nav .nav-item .dropdown-menu .dropdown-item:active {
    color: #3b434d;
    text-decoration: none;
    background-color: #fc8102;
  }
  body .header .nav-pills .show > .nav-link {
    background-color: #fc8102;
    color: #3b434d;
  }
  body .news {
    padding: 0;
  }
  body .news .news__banner {
    font-size: 42px;
  }
  body .news .news__main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  body .footer {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  body {
    max-width: 720px;
    margin: 0 auto;
    -ms-grid-rows: 200px 1fr 100px;
        grid-template-rows: 200px 1fr 100px;
  }
  body .header {
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "header-logo header-logo header-logo" "header-nav header-nav header-nav";
  }
  body .header .header__logo {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  body .header .header__nav {
    margin-right: 0;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  body .news {
    padding: 0;
  }
  body .news .news__banner {
    font-size: 42px;
  }
  body .news .news__main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  body .footer {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    max-width: 960px;
    margin: 0 auto;
    -ms-grid-rows: 100px 1fr 100px;
        grid-template-rows: 100px 1fr 100px;
  }
  body .header {
    padding: 0;
    -ms-grid-columns: 0.3fr 0.3fr 1fr;
        grid-template-columns: 0.3fr 0.3fr 1fr;
        grid-template-areas: "header-logo header-nav header-nav";
  }
  body .header .header__nav {
    margin-right: 0;
  }
  body .news {
    padding: 0 30px;
  }
  body .news .news__banner {
    font-size: 42px;
  }
  body .news .news__main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  body .footer {
    padding: 0 30px;
  }
}
/*# sourceMappingURL=news.css.map */